# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL

**Objectives:**

- Learn to use markdown cells and code cell
- Learn to give headings in different levels
- Learn to use ordered list
- Learn to use unordered list

Some of the most commonly used libraries used by Data scientist include:
1. Numpy
2. Pandas
3. Matplotlib

In [2]:
|Data Science Tools|
|------------------|
|Google Colab      |
|Jupyter Notebook |
|Rstudio           |

SyntaxError: invalid syntax (1926110852.py, line 1)

### Below are a few example of evaluating arithmatic expression in Python:
Addition- 3+2=5
Subtraction- 3 - 2 = 1
multiplication- 3 * 2=6

In [ ]:
#this is a simpple arithmatic expression to multiply then add integer

print((3*4)+5)

In [ ]:
#this will convert 200 minutes to hours by dividing by 60

min = 200

hours = min / 60

print(hours)

## Author

Yash Pillewan